<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission to read contacts for selection -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <!-- Permission to make phone calls -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SalusWidget"
        tools:targetApi="31">

        <!-- Widget Configuration Activity -->
        <activity
            android:name=".config.WidgetConfigActivity"
            android:exported="true"
            android:label="@string/config_activity_label"
            android:theme="@style/Theme.SalusWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Touch Handler Activity for Long Press Detection -->
        <activity
            android:name=".widget.WidgetTouchActivity"
            android:exported="false"
            android:theme="@style/Theme.SalusWidget.Transparent"
            android:excludeFromRecents="true"
            android:taskAffinity="" />

        <!-- Widget Provider -->
        <receiver
            android:name=".widget.SalusWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

    </application>

</manifest>
